@import url(/css/normalize.css);

/* ====================== */
/*         Common         */
/* ====================== */

:root {
    --slider-max-width: 900px;
    --border-radius: 0.5rem;
    --color-main-bg: #25282a;
    --color-dot-default: #7395bf;
    --color-dot-hover: #ffffff;
    --color-dot-active: #70787e;
    --color-dot-selected: transparent;
    --color-slider-text: #ffffff;
}

body {
    font-family: Tahoma, Verdana, sans-serif;
    background-color: var(--color-main-bg);
}

/* ====================== */
/*         Slider         */
/* ====================== */

.slider {
    display: grid;
    max-width: var(--slider-max-width);
    margin: 2rem auto;
    padding: 0 2rem;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "images images"
        "text controls";
}

.slider input[type='radio'] {
    display: none;
}

/* ====================== */
/*     Slider Control     */
/* ====================== */

.slider__controls {
    display: flex;
    grid-area: controls;
}

.slider__control-label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
}

.slider__control-dot {
    display: block;
    border-radius: 50%;
    padding: 0.5rem;
    border: 0.2rem solid var(--color-dot-default);
    background-color: var(--color-dot-default);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.slider__control-label:hover .slider__control-dot {
    background-color: var(--color-dot-hover);
    border-color: var(--color-dot-hover);
}

.slider__control-label:active .slider__control-dot {
    border-color: var(--color-dot-active);
}

#radio-1:checked~.slider__controls .slider__control-label:nth-child(1) .slider__control-dot {
    background-color: var(--color-selected-dot);
}
#radio-2:checked~.slider__controls .slider__control-label:nth-child(2) .slider__control-dot {
    background-color: var(--color-selected-dot);
}
#radio-3:checked~.slider__controls .slider__control-label:nth-child(3) .slider__control-dot {
    background-color: var(--color-selected-dot);
}
#radio-4:checked~.slider__controls .slider__control-label:nth-child(4) .slider__control-dot {
    background-color: var(--color-selected-dot);
}
#radio-5:checked~.slider__controls .slider__control-label:nth-child(5) .slider__control-dot {
    background-color: var(--color-selected-dot);
}

/* ====================== */
/*     Slider Images      */
/* ====================== */

.slider__image-list {
    margin: 0;
    padding: 0;
    grid-area: images;
    overflow: hidden;
    max-width: var(--slider-max-width);
    border-radius: var(--border-radius);
}

.slider__image-item {
    display: none;
    animation: slideIn 0.4s ease forwards;
}

.slider__image {
    max-width: 100%;
    display: block;
}

#radio-1:checked~.slider__image-list .slider__image-item:nth-child(1) { display: block; }
#radio-2:checked~.slider__image-list .slider__image-item:nth-child(2) { display: block; }
#radio-3:checked~.slider__image-list .slider__image-item:nth-child(3) { display: block; }
#radio-4:checked~.slider__image-list .slider__image-item:nth-child(4) { display: block; }
#radio-5:checked~.slider__image-list .slider__image-item:nth-child(5) { display: block; }

/* ====================== */
/*      Slider Text       */
/* ====================== */

.slider__texts {
    list-style: none;
    padding: 0;
    margin: 0;
    grid-area: text;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slider__text {
    display: none;
    color: var(--color-slider-text);
    transition: transform 0.3s ease;
    animation: slideIn 0.3s ease forwards;
}

#radio-1:checked~.slider__texts .slider__text:nth-child(1) { display: block; }
#radio-2:checked~.slider__texts .slider__text:nth-child(2) { display: block; }
#radio-3:checked~.slider__texts .slider__text:nth-child(3) { display: block; }
#radio-4:checked~.slider__texts .slider__text:nth-child(4) { display: block; }
#radio-5:checked~.slider__texts .slider__text:nth-child(5) { display: block; }

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}